<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <title>Whatsapp Chat Analyser</title>
  </head>
  <body>
    <nav>
      <div class="wrapper">
        <div class="logo"><a href="#">Whatsapp</a></div>
        <input type="radio" name="slider" id="menu-btn" />
        <input type="radio" name="slider" id="close-btn" />
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"
            ><i class="fas fa-times"></i
          ></label>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"
          ><i class="fas fa-bars"></i
        ></label>
      </div>
    </nav>

    <div class="body-text">
      <div class="title">Whatsapp Chat Analyser</div>
      <div class="sub-title">drop your files here</div>
    </div>
  </body>
</html>
